extends ../layout

block content
    form.form-signin(action='/login', method='post')
        h2.form-signin-heading Please sign in
        - if (typeof(err) !== 'undefined')
            .alert.alert-warning=err
        .form-group
            label.sr-only(for='email') Email address
            input.form-control(type='email', name='email', placeholder='Email address', autofocus, value=email)
        .form-group
            label.sr-only(for='password') Password
            input.form-control(type='password', name='password', placeholder='Password')
        h2.form-signin-heading Or use an OAuth token directly
        .form-group
            label.sr-only(for='token') OAuth token (Read + Write)
            input.form-control(type='text', name='token', placeholder='OAuth token (Read + Write)', value=token)
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
