extends ../layout

block content
    h1 Mesh network

    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a(href='#console', aria-controls='console', role='tab', data-toggle='tab')
                | Console &nbsp;
                span.glyphicon.glyphicon-console
        li(role='presentation')
            a(href='#network', aria-controls='mesh', role='tab', data-toggle='tab')
                | Network &nbsp;
                span.glyphicon.glyphicon-fullscreen
    .tab-content
        #console.tab-pane.active(role='tabpanel')
            .row
                .col-md-4
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Mesh gateway infos
                        .panel-body
                            dl
                                +infoField('Mesh enabled ?', beaconData.meshSettings.enabled ? 'Yes' : 'No')
                                +infoField('Accept unauthenticated connections ?', beaconData.meshSettings.allow_non_auth_connections ? 'Yes' : 'No')
                                +infoField('Always connectable ?', beaconData.meshSettings.always_connectable ? 'Yes' : 'No')
                                +infoField('Window enabled ?', beaconData.meshSettings.enable_mesh_window ? 'Yes (' + beaconData.meshSettings.mesh_window_duration + ' minutes starting from ' + beaconData.meshSettings.mesh_window_on_hour + ':00)' : 'No')
                                +infoField('Network UUID', uuid(beaconData.meshNetworkUUID))
                                +infoField('Device ID', beaconData.meshDeviceId)
                    .form-group
                        input.form-control.input-lg#mesh-target-node(type='number', placeholder='Target node', name='target')

                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Send generic message
                        .panel-body
                            .row
                                .col-lg-8.col-md-12
                                    .form-group
                                        input#mesh-generic-message.form-control(type='text', name='message', placeholder='hello world')
                                .col-lg-4.col-md-12
                                    .form-group
                                        button#mesh-generic-send.btn.btn-primary.btn-block
                                            | Send &nbsp;
                                            span.glyphicon.glyphicon-send

                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Remote management
                        .panel-body
                            ul.nav.nav-tabs(role='tablist')
                                li(role='presentation')
                                    a(href='#shortcuts', aria-controls='shortcuts', role='tab', data-toggle='tab') Shortcuts
                                li.active(role='presentation')
                                    a(href='#advanced', aria-controls='advanced', role='tab', data-toggle='tab') Advanced
                            .tab-content
                                #shortcuts.tab-pane(role='tabpanel')
                                    .form-group
                                        .row
                                            .col-md-5
                                                label Green LED
                                            .col-md-7
                                                .btn-group.btn-group-justified#shortcut-led-green(role='group')
                                                    .btn-group
                                                        button#shortcut-led-green-on.btn.btn-default(type='button')
                                                            | On &nbsp;
                                                            span.glyphicon.glyphicon-certificate.white
                                                    .btn-group
                                                        button#shortcut-led-green-off.btn.btn-default(type='button')
                                                            | Off &nbsp;
                                                            span.glyphicon.glyphicon-certificate.black
                                    .form-group
                                        .row
                                            .col-md-5
                                                label Advertise
                                            .col-md-7
                                                .btn-group.btn-group-justified#shortcut-advertising(role='group')
                                                    .btn-group
                                                        button#shortcut-advertising-on.btn.btn-default(type='button')
                                                            | On &nbsp;
                                                            span.glyphicon.glyphicon-bullhorn.white
                                                    .btn-group
                                                        button#shortcut-advertising-off.btn.btn-default(type='button')
                                                            | Off &nbsp;
                                                            span.glyphicon.glyphicon-bullhorn.black
                                    .form-group
                                        .row
                                            .col-md-5
                                                label Battery level
                                            .col-md-7
                                                button#shortcut-battery.btn.btn-default.btn-block(type='button')
                                                    | Get &nbsp;
                                                    span.glyphicon.glyphicon-tasks
                                #advanced.tab-pane.active(role='tabpanel')
                                    .row
                                        .col-md-4
                                            .form-group#mesh-command-group
                                                button.btn.btn-default.btn-block.dropdown-toggle(type='button', data-toggle='dropdown' aria-haspopups='true' aria-expanded='false')
                                                    | GET &nbsp;
                                                    span.caret
                                                ul.dropdown-menu(aria-labelledby='mesh-send-management-change-command')
                                                    li
                                                        a#mesh-command-get(href='#') GET
                                                    li
                                                        a#mesh-command-set(href='#') SET
                                                input#mesh-command(type='hidden', name='command', value='get')
                                        .col-md-8
                                            .form-group
                                                select.form-control#mesh-property(name='property')
                                                    option Please select a property...
                                                    option(value='mac_address', data-lock=1) MAC address (0x34)
                                                    option(value='serial_number', data-lock=1) Serial number (0x37)
                                                    option(value='battery_level', data-lock=1) Battery level (0x38)
                                                    option(value='tx_power') TX power (0x35)
                                                    option(value='advertising_state') Advertising state (0x74)
                                                    option(value='proximity_uuid') Proximity UUID (0x61)
                                                    option(value='major') Major (0x66)
                                                    option(value='minor') Minor (0x67)
                                                    option(value='led_state') LED state (0x68)
                                                    option(value='rtc_time') RTC Time (0x77)
                                    .row
                                        .col-lg-8.col-md-12
                                            .form-group
                                                .input-group
                                                    span.input-group-addon 0x
                                                    input.form-control#mesh-value(type='text', placeholder='Value', name='value', data-inputmask="'mask': 'h{2,32}'")
                                        .col-lg-4.col-md-12
                                            .form-group
                                                button#mesh-management-send.btn.btn-primary.btn-block(type='submit')
                                                    | Send &nbsp;
                                                    span.glyphicon.glyphicon-send
                .col-md-8
                    .panel.panel-default
                        .panel-heading
                            h2.panel-title
                                | Mesh logs
                                a#mesh-logs-clear.pull-right(href='#')
                                    | clear
                                    span.glyphicon.glyphicon-trash
                        #mesh-logs-container.panel-body

block append javascripts
    script(src='/javascripts/mesh/messaging.js')
