extends ../layout

block content
    h1 Mesh network

    section
        h2 Mesh infos
        dl.dl-horizontal.dl-large
            dt Mesh enabled ?
            dd
                - if (beaconData.meshSettings.enabled)
                    | Yes
                - else
                    | No
            dt Accept unauthenticated connections ?
            dd
                - if (beaconData.meshSettings.allow_non_auth_connections)
                    | Yes
                - else
                    | No
            dt Always connectable ?
            dd
                - if (beaconData.meshSettings.always_connectable)
                    | Yes
                - else
                    | No
            dt Mesh window enabled ?
            dd
                - if (beaconData.meshSettings.enable_mesh_window)
                    | Yes (#{beaconData.meshSettings.mesh_window_duration} minutes starting from #{beaconData.meshSettings.mesh_window_on_hour}:00)
                - else
                    | No
            dt Mesh network UUID
            dd=uuid(beaconData.meshNetworkUUID)
            dt Mesh device ID
            dd=beaconData.meshDeviceId

    section
        h2 Send generic message
        form#mesh-send-generic-form(action='/mesh-network/generic-messages')
            .row
                .col-md-3
                    .form-group
                        label.sr-only Destination
                        input.form-control.input-lg#mesh-send-generic-address(type='number', min=1, max=32768, placeholder='Destination address', name='address')
                .col-md-6
                    .form-group
                        label.sr-only Message
                        input.form-control.input-lg#mesh-send-generic-message(placeholder='Message (limited to 16 bytes)', name='message')
                .col-md-3
                    .form-group
                        button.btn.btn-primary.btn-lg(type='submit')
                            | Send
                            | &nbsp;
                            span.glyphicon.glyphicon-send

    section
        h2 Send remote management message
        form#mesh-send-management-form(action='/mesh-network/remote-management-messages')
            .row
                .col-md-5
                    .form-group
                        label.sr-only Destination
                        .input-group
                            .input-group-btn
                                .btn-group
                                    button.btn.btn-default.dropdown-toggle.btn-lg#mesh-send-management-change-command(type='button', data-toggle='dropdown' aria-haspopus='true' aria-expanded='false')
                                        | GET &nbsp;
                                        span.caret
                                    ul.dropdown-menu(aria-labelledby='mesh-send-management-change-command')
                                        li.active
                                            a#mesh-send-management-command-get(href='#')
                                                | GET &nbsp;
                                                span.glyphicon.glyphicon-ok
                                        li
                                            a#mesh-send-management-command-set(href='#')
                                                | SET &nbsp;
                                                span.glyphicon
                                .btn-group
                                    button.btn.btn-default.dropdown-toggle.btn-lg#mesh-send-management-change-address-format(type='button', data-toggle='dropdown' aria-haspopus='true' aria-expanded='false')
                                        | 0x &nbsp;
                                        span.caret
                                    ul.dropdown-menu(aria-labbeledby='mesh-send-management-address-change-format')
                                        li.active
                                            a#mesh-send-management-address-hex(href='#')
                                                | Hex &nbsp;
                                                span.glyphicon.glyphicon-ok
                                        li
                                            a#mesh-send-management-address-numeric(href='#')
                                                | Numeric &nbsp;
                                                span.glyphicon
                            input#mesh-send-management-command(type='hidden', name='command', value='get')
                            input.form-control.input-lg#mesh-send-management-address(type='text', placeholder='Destination address', name='address')
                .col-md-4
                    .form-group
                        label.sr-only Property
                        select.form-control.input-lg#mesh-send-management-property(name='property')
                            option Please select a property...
                            option(value='mac_address', data-lock=1) MAC address (0x34)
                            option(value='serial_number', data-lock=1) Serial number (0x37)
                            option(value='battery_level', data-lock=1) Battery level (0x38)
                            option(value='tx_power') TX power (0x35)
                            option(value='advertising_state') Advertising state (0x74)
                            option(value='proximity_uuid') Proximity UUID (0x61)
                            option(value='major') Major (0x66)
                            option(value='minor') Minor (0x67)
                            option(value='led_state') LED state (0x68)
                            option(value='rtc_time') RTC Time (0x77)
            .row
                .col-md-9
                    .form-group
                        label.sr-only Value
                        .input-group.input-group-lg
                            span.input-group-addon 0x
                            input.form-control#mesh-send-management-value(type='text', placeholder='Value', name='value', data-inputmask="'mask': 'h{2,32}'")
                .col-md-3
                    .form-group
                        button.btn.btn-primary.btn-lg(type='submit')
                            | Send
                            | &nbsp;
                            span.glyphicon.glyphicon-send
    section
        h2
            | Mesh logs &nbsp;
            a.text-info#mesh-logs-clear(href='#') clear
        table.table.table-striped.table-hover(style="table-layout: fixed")
            thead
                tr
                    th(style="width: 20%") Timestamp
                    th(style="width: 50%") Event
                    th(style="width: 30%") Data
            tbody#mesh-logs-container

block append javascripts
    script(src='/javascripts/mesh/messaging.js')
