nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.logo(href='/')
                img(src='/images/logo.png')
        #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(class= (headerSection === 'gateway_beacon') ? 'active': undefined)
                    a#configure-my-beacon-header-link(href='/gateway-beacon')
                        | Gateway beacon &nbsp;
                        span.glyphicon.glyphicon-refresh.spin#beacon-status
                li(class= (headerSection === 'system_infos') ? 'active': undefined)
                    a(href='/system-infos') System infos
                li(class= (headerSection === 'mesh_network') ? 'active': undefined)
                    a(href='/mesh-network') Mesh network