extends ../layout

block content
    h1 Network informations

    each networkInterface in networkInterfaceTypes
        dl.dl-horizontal.dl-large
            dt.col-sm-4 Type
            dd.col-sm-8= networkInterface.family
            dt.col-sm-4 Address
            dd.col-sm-8= networkInterface.address
            dt.col-sm-4 Netmask
            dd.col-sm-8= networkInterface.netmask
            dt.col-sm-4 MAC Address
            dd.col-sm-8= networkInterface.mac
